.centrado{
    margin: 0 auto;
    text-align: center;
    background-color: gainsboro;
    width: 100px;
}

button{

color: gray;
font-weight: bold;
margin: 16px auto;
border-radius: 100px;
padding: 7px 16px;
}
button:active{
    background-color: gainsboro;
    color: black;
}